body{

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:20px;

    overflow-x:hidden;

    background:

    radial-gradient(
    circle at top left,
    #F7A8C4,
    transparent 45%
    ),

    radial-gradient(
    circle at bottom right,
    #A8C686,
    transparent 45%
    ),

    linear-gradient(
    135deg,
    #FFD6E8,
    #D8EBC2
    );

}



.container{

    width:100%;

    max-width:850px;

    background:

    rgba(247,168,196,.35);

    backdrop-filter:blur(20px);

    border:2px solid rgba(247,168,196,.6);

    border-radius:35px;

    padding:45px;

    text-align:center;

    box-shadow:

    0 25px 60px rgba(111,143,82,.25);

}



.card{

    background:

    linear-gradient(
    145deg,
    #FFD6E8,
    #D8EBC2
    );

    border-radius:25px;

    padding:25px;

    border:2px solid #F7A8C4;

    cursor:pointer;

    transition:.35s;

    box-shadow:

    0 10px 25px rgba(111,143,82,.18);

}



.card:hover{

    transform:
    translateY(-10px)
    rotate(1deg);


    background:

    linear-gradient(
    145deg,
    #F7A8C4,
    #A8C686
    );

}



.secret{

    margin-top:30px;

    background:

    linear-gradient(
    135deg,
    #F7A8C4,
    #A8C686
    );

    padding:25px;

    border-radius:30px;

    color:#5B5148;

}